<h1>New Place</h1>

<form action="/places" method="post">
  <label for="name_box">Name</label>
  <input id="name_box" type="text" name="name" required>

  <button>Create place</button>
</form>

<p>
  <a href="/places">Back to places</a>
</p>
